body {
    display: flex;
    justify-content: center;
    background-color: pink;
}

.container {
    margin: 20vh;
    text-align: center;
    border-radius: 25px;
    background-color: white;
    width: 50%;
    height: 50vh;
    display: flex;         
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
.dropdown {
    padding: 20px;
}