table,
th,
tr {
    border-collapse: collapse;
    border: solid 1px black;
    width: 50%;
    padding: 50px;
}

table {
    width: 100%;
    height: 100vh;
}

.div1 {
    background-color: pink;
}

.div2 {
    background-color: skyblue;
}